body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color);
}

.title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.title--with-margin-bottom {
  margin-bottom: 50px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
