.footsite {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.foot {
  display: flex;
  align-items: baseline;
}

.left-foot {
  margin-right: 70px;
  flex-grow: 1;
}

.address-section {
  margin-top: 20px;
}

.address-item:nth-child(n + 2) {
  margin-top: 9px;
}
.addressmap-link {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--normal-color);
}

.mail-and-tel-link {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.action {
  margin-right: 93px;
}

.action-paragraph,
.send-paragraph {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--normal-color);
}

.action-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.action-list .soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  fill: var(--normal-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.action-list .soc-link:hover,
.action-list .soc-link:focus {
  background-color: currentColor;
}

.send-input {
  min-width: 358px;
  height: 50px;
  padding: 15px 0px 15px 15px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--normal-color);

  transition: border-color var(--transition-timing);
}

.send-input:focus {
  border-color: var(--normal-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.send-input:hover {
  border-color: var(--accent-color);
}

.send-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.send-button {
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--normal-color);
  background-color: var(--accent-color);
  min-width: 200px;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.send-wrap {
  display: flex;
  gap: 12px;
}
